# Ignore build artifacts and dependencies
node_modules/
.expo/
dist/
web-build/

# Ignore secrets
.env
.env*.local
!.env.example

# Ignore native folders (managed workflow)
/android
/ios


# Ignore git
.git

# Ignore editor/OS files
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Ignore logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*